name: Release

on:
  push:
    branches: [master, release-pipeline]
    # tags:
    #   - "v*"
  workflow_dispatch:

jobs:
  test:
    name: Test
    uses: Bzero/typstwriter/.github/workflows/ci.yml@master

  build-macos-dmg:
    runs-on: macos-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pyinstaller

      - name: Build macOS app with PyInstaller
        run: |
          pyinstaller typstwriter/typstwriter.py --windowed --onefile --name typstwriter

      - name: Install create-dmg
        run: brew install create-dmg

      - name: Create DMG
        run: |
          create-dmg \
            --volname "Typstwriter" \
            --window-pos 200 120 \
            --window-size 600 400 \
            --icon-size 100 \
            --icon "typstwriter.app" 150 185 \
            --app-drop-link 450 185 \
            "typstwriter.dmg" \
            "dist/typstwriter.app"

      - name: Create GitHub Release
        id: create_release
        uses: elgohr/Github-Release-Action@v5
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag: ${{ github.ref_name }}
          title: Release ${{ github.ref_name }}
          prerelease: false
